<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex">
    <title>Wuubi API</title>
  </head>

  <body>
    <h1>Wuubi API - <%= version %></h1>
    <h3>Welcome to Wuubi API service.</h3>

    <table border="1">
      <tr>
        <td>System Status</td>
        <td><%= status %></td>
      </tr>
      <tr>
        <td>System Type</td>
        <td><%= environment %></td>
      </tr>
    </table>
  </body>
</html>
